block content
	h1 Admin
	form(method='post', action='/analysis/new')
		h2 Analysis String
		input(name='analJSON')
		h2 Video ID
		input(name='videoID')
		button(type='submit',class='btn btn-primary') Submit