extends layout

block nav-content
  li
    a(href='/') Home

block content
  h1= title
  //-#{tube.video_id}
  center.video
    #player(data-id='#{video_id}')
    //-iframe(width='853', height='480', src='http://www.youtube.com/v/#{video_id}&autoplay=1&autohide=1', frameborder='0', allowfullscreen)
  center.goat'
    img(src="/images/goat.jpg", width='853', height='480')

  script(src='//www.youtube.com/iframe_api')